/*Please note a lot of this could be cleanly compacted by using actual element tags,
  but the goal is to try and not be intrusive on what the user importing this has.
 */
.outLineBlock {
  outline: 1px solid black;
  position: relative;
}

.hideElement {
  visibility: hidden;
}

.blueBackground {
  background-color: powderblue;
}

.whiteBackground {
  background-color: white;
}

.noHighlight {
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.gridLine {
  stroke: black;
  stroke-width: 0.5;
}

.background {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.point {
  fill: white;
  stroke: black;
  stroke-width: 1;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.centerCircle {
  fill: red;
  stroke: black;
  stroke-width: 1;
}

.menuBackground {
  fill: #f0f8ffa0;
  stroke: #a0a8af;
  rx: 2%;
}

.menuButtonHover:hover {
  fill: #f0f8ff;
}

.menuButtonText {
  dominant-baseline: middle;
  fill: #ffffff;
  stroke: #aaaaaa;
  font-family: "Arial Black", sans-serif;
  font-size: 100%;
  pointer-events: none;
  text-anchor: middle;
}
