svg {
  outline: 1px solid black;
  cursor: grab;
}
line {
  stroke: black;
  stroke-width: 0.5;
}
circle {
  stroke: white;
  fill: black;
}
.center {
  fill: red;
  stroke-width: 1;
}
.menu {
  cursor: context-menu;
}
.menuButtonOuter {
  fill: #f0f8ffa0;
  height: 10%;
  rx: 2%;
  width: 15%;
}
.menuScreenOuter {
  height: 90%;
  width: 40%;
}
.menuText {
  dominant-baseline: middle;
  fill: #ffffff;
  font-family: "Arial Black", Gadget, sans-serif;
  pointer-events: none;
  text-anchor: middle;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
